<script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>
<style>

html,
body {
  background-color: black;
  text-align: center;
  font-family: 'Raleway', Helvetica, sans-serif;
  min-width: 320px;
}

header {
  font-size: 2em;
  font-weight: bold;
  margin: 20px;
}

#form-outer {
  background-color: rgb(250, 250, 250);
  margin: 0 auto;
  border-radius: 4px;
  width: 75%;
  max-width: 900px;
  padding: 10px;
  padding-top: 20px;
}

.labels {
  display: inline-block;
  text-align: right;
  width: 40%;
  padding: 5px;
  vertical-align: top;
  margin-top: 10px;
}

.rightTab {
  display: inline-block;
  text-align: left;
  width: 48%;
  vertical-align: middle;
}

.input-field {
  height: 20px;
  width: 280px;
  padding: 5px;
  margin: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}




#submit {
  background-color: #1a8cff;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  height: 40px;
  width: 96px;
  margin: 10px;
  border: 0px solid;
}

</style>
<h1 id="title">Search for the nearest packages here!</h1>
<div id="form-outer">
  <p id="description">
    Enter the Destination to search for the nearest packages
  </p>
  <form id="survey-form" method="POST" action="/start">
    <div class="rowTab">
      <div class="labels">
        <label id="haddress">Home Address: </label>
      </div>
      <div class="rightTab">
        <input autofocus type="text" name="haddress" id="haddress" class="input-field" placeholder="" required>
      </div>
    </div>
    
    <div class="rowTab">
        <div class="labels">
          <label id="daddress" for="name">Destination Address: </label>
        </div>
        <div class="rightTab">
          <input autofocus type="text" name="daddress" id="daddress" class="input-field" placeholder="" required>
        </div>
      </div>

    

      <div class="rowTab">
        <div class="labels">
          <label id="truckMaker" for="name">Truck Maker</label>
        </div>
        <div class="rightTab">
          <input autofocus type="text" name="truckMaker" id="truckMaker" class="input-field" placeholder="" required>
        </div>
      </div>

      <div class="rowTab">
        <div class="labels">
          <label id="truckModel" for="name">Truck Model</label>
        </div>
        <div class="rightTab">
          <input autofocus type="text" name="truckModel" id="truckModel" class="input-field" placeholder="" required>
        </div>
      </div>
      <div class="rowTab">
        <div class="labels">
          <label id="truckWeight" for="name">Truck Weight</label>
        </div>
        <div class="rightTab">
          <input autofocus type="text" name="truckWeight" id="truckWeight" class="input-field" placeholder="" required>
        </div>
      </div>
      
    
    <button id="submit" type="submit">Submit</button>
    <button id="reset" type="reset">Reset</button>
  </form>
</div>
